body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
    
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}

th, td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #000000;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    td:before {
        content: attr(data-label);
        flex-basis: 40%;
        text-align: left;
        font-weight: bold;
    }

    td img {
        width: 75px;
    }
}

